<a href="/">Return to website</a>
<span>
{{#if hasPrevious }}
  <a href="/uploads?page={{ previous }}"><</a>
{{/if}}
Page {{ page }}
<a href="/uploads?page={{ next }}">></a>
</span>
<table class="files">
  <tr class="header">
    <th class="file">File</th>
    <th class="uploaded">Uploaded on</th>
  </tr>
  <tr class="table-sep"></tr>
  {{#each files}}
  <tr>
    <td title="{{this.filename}}" class="link-cell"><a href="/download/{{this.id}}">{{this.filename}}</a></td>
    <td>{{this.uploaded}}</td>
  </tr>
  {{/each}}
</table>
