<a href="/">Return to website</a>
<span>
{{#if hasPrevious }}
  <a href="/uploads?page={{ previous }}"><</a>
{{/if}}
Page {{ page }}
<a href="/uploads?page={{ next }}">></a>
</span>
<table class="files">
  <tr class="header">
    <th class="filename">Filename</th>
    <th class="link">Link</th>
    <th class="uploaded">Uploaded on</th>
  </tr>
  <tr class="table-sep"></tr>
  {{#each files}}
  <tr>
    <td>{{this.filename}}</td>
    <td class="link-cell"><a href="/upload/{{this.id}}">/upload/{{this.id}}</a></td>
    <td>{{this.uploaded}}</td>
  </tr>
  {{/each}}
</table>
